.App {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
}

.Navbar {
	/* width: 100vw; */
	display: flex;
	justify-content: right;
	gap: 16px;
	padding: 16px;
	align-items: center;
}

.SearchBlock {
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	margin: 1.5rem;
	justify-content: center;
}

.Footer {
	height: 25vh;
	width: 100%;
	font-size: 14px;
	background-color: #f2f2f2;
	color: #5f6368;
}

.Footer .location {
	padding: 1rem;
	border-bottom: 1px solid #ddd;
}

.Footer .environment {
	padding: 1rem 0 2rem;
	text-align: center;
}

.Footer .links {
	display: flex;
	justify-content: space-between;
	text-align: center;
	flex-direction: column;
	gap: 1rem;
}

.Footer .links div {
	display: flex;
	justify-content: center;
	gap: 2rem;
}

.buttons {
	display: flex;
	justify-content: center;
	gap: 0.8rem;
	margin-top: 1rem;
}

.btn {
	padding: 9px 23px;
	border-radius: 4px;
	text-align: center;
	line-height: 16px;
	font-size: 14px;
	font-family: Google Sans, Roboto, Helvetica, Arial, sans-serif;
	background-color: #f2f2f2;
	cursor: pointer;
}

.btn.primary {
	color: #fff;
	background-color: #1a73e8;
	font-weight: bold;
}

a {
	cursor: pointer;
}

a.text {
	font-family: arial, sans-serif;
	font-size: 13px;
}

.btn:hover {
	box-shadow: 0 1px 3px 1px rgb(66 64 67 / 15%),
		0 1px 2px 0 rgb(60 64 67 / 30%);
}

.ProductIcon {
	color: #5f6368;
	opacity: 1;
	fill: #5f6368;
	width: 24px;
}

.countries {
	font-size: 13px;
}

.countries a {
	color: #1a0dab;
	margin: 0 0.2rem;
}

a.text:hover {
	text-decoration: underline;
}

.SearchBar {
	border-radius: 50px;
	border: 1px solid #ddd;
	padding: 8px;
	line-height: 24px;
	text-align: left;
	max-width: 582px;
	margin: 1rem auto;
	width: calc(100% - 16px);
}

.SearchBar input {
	border: none;
}
